@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
span{
    color: #FF2E2E;
}

.container{
    display: grid;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: antiquewhite; */
    grid-template-columns: repeat(5, 200px);
    column-gap: 40px;
}

#content-1{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}
#content-1 span{
    color: #FF2E2E;
    font-weight: bold;
}
#content-2{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}

#content-2 span{
    color: #FF2E2E;
    font-weight: bold;
}

#content-3{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}

#content-3 span{
    color: #FF2E2E;
    font-weight: bold;
}

#content-4{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}

#content-4 span{
    color: #FF2E2E;
    font-weight: bold;
}

#content-5{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}

#content-5 span{
    color: #FF2E2E;
    font-weight: bold;
}
